/* TYPOGRAPHY */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

input,
textarea {
  padding: 0.4rem 0.5rem;
  border-radius: 3px;
  border: var(--clr-bg-300) solid 3px;
  outline: none;
  transition: border 200ms ease;
  &:focus {
    outline: none;
    border: var(--clr-accent-400) solid 3px;
  }
}

.search-bar {
  display: flex;
  justify-content: center;
  & input {
    width: 100%;
    max-width: 400px;
  }
}
