.products {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  flex-basis: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-primary-700);
  border-radius: 5px;
  overflow: hidden;
  max-width: 330px;
  box-shadow: 0 0.5rem 1rem #2b35422a;
  & a {
    text-decoration: none;
    color: var(--clr-neutral-100);
    transition: opacity 200ms ease;
    &:hover,
    :active {
      opacity: 0.9;
    }
  }
  &__inner {
    position: relative;
  }
  &__image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
  }
  &__read {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    color: black;
  }
  &__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.2rem 0.5rem;
    &-title {
      margin-bottom: 0.3rem;
      text-align: center;
    }
  }
  &__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-primary-800);
    padding: 1rem 0.5rem 0.8rem 0.5rem;
    cursor: pointer;
    transition: opacity 200ms ease;
    & i {
      margin-right: 10px;
      color: var(--clr-neutral-100);
    }
    & p {
      color: var(--clr-neutral-100);
    }
    &:hover {
      opacity: 0.9;
    }
    &:active {
      opacity: 0.7;
    }
  }
}

.in-cart {
  background: rgb(13, 88, 70);
}
